backup/
*.lnk
*/.settings/
*/.gradle/
*/bin/
*/build/
*/.classpath
mirrg.gubot.noelle/faces/*
mirrg.gubot.noelle/screenshots/*
mirrg.gubot.noelle/logs/*
mirrg.image.analyze.overlay.beryllium/workspace/*
mirrg.gubot.noelle/plugins.xml